/* Generals */
button {
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    padding: 10px 20px;
    background: none;
    cursor: pointer;
    border-radius: var(--border-radius);
}

button:hover { 
    color: var(--footer-text-color);
    background-color: var(--primary-color); 
}

/* Services Card */
.services {
    margin-top: 50px;
    min-height: 40vh;
    text-align: center;
}

.services h2 { padding-bottom: 25px; }

.service-list {
    display: flex;
    flex-direction: row;
    justify-self: center;
    gap: 20px;
}

.service-item {
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    padding: 20px;
    text-align: start;
    line-height: 35px;
}

.service-item h3 { color: var(--dark-red); }
.service-item:hover { background-color: var(--secondary-color); }

.service-icon {
    width: 60px;
    height: 60px;
    background-color: var(--primary-color);
    border-radius: 50%;
    margin: 0 auto 10px;
}
/* Services section */

/* Index - Artists card */

.artists h2 { padding-bottom: 25px; }

.artist-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.artist-item {
    display: flex;
    justify-content: flex-start;
    border: 2px solid var(--dark-red);
    padding: 20px;
    margin: 0 2% 35px 2%;
    border-radius: var(--border-radius);
    width: 75%;
    height: 300px;
    box-shadow: var(--box-shadow);
    background-color: var(--background-color);
}

.artist-image {
    background-color: #ddd;
    width: 25%;
    height: 100%;
    margin-right: 20px;
    border-radius: var(--border-radius);
}

.artist-content { text-align: left; }

.artist-content h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.artist-content p {
    font-size: 1rem;
    line-height: 1.6;
}
/* Index - Artists card */

/* Artists Page - Cards*/
.card-artist-item {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr; /* Una sola columna para organizar en vertical */
    grid-template-rows: auto 1fr auto; /* Filas para imagen, contenido, y botón */
    gap: 10px;
    align-items: start;
    text-align: left;
    width: 100%;
    height: auto;
    background-color: var(--background-color);
    border: 2px solid var(--dark-red);
    border-radius: var(--border-radius);
    padding: 20px;
}

.card-artist-image {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #ccc;
    margin-right: 20px;
}

.card-artist-item h3{
    margin-top: 5px;
    grid-column: 2/5;
}

.card-artist-text {
    grid-column: 1/5;
    grid-row: 2/3;
}

.card-artist-button {
    grid-column: 1/4;
    grid-row: 3/4;
}
/* Artists Page - Cards*/

/* testimonial Card */
.testimonial-card {
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    font-style: italic;
    margin: 25px;
    padding: 25px;
    text-align: left;
}
/* testimonial Card */